{% extends "layout.html" %}

{% block title %}
    Transactions History
{% endblock %}

{% block main %}
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Dose</th>
                <th>Expire Date</th>
                <th>Amount</th>
                <th>Time</th>
                <th>Transaction</th>
                <th>service</th>
                <th>Person</th>
                <th>Problem</th>
                <th>Injury</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td> {{ transaction["type"] }}</td>
                    <td> {{ transaction["drugname"] }}</td>
                    <td> {{ transaction["dose"] }}</td>
                    <td> {{ transaction["expiration"] }}</td>
                    <td> {{ transaction["quantity"] }}</td>
                    <td> {{ transaction["time"] }}</td>
                    <td> {{ transaction["inout"] }}</td>
                    <td> {{ transaction["service"] }}</td>
                    <td> {{ transaction["man"] }}</td>
                    <td> {{ transaction["problem"] }}</td>
                    <td> {{ transaction["typeinjury"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}